node_modules
.next
out
dist
build
.turbo

.env
.env.*
!.env.example

.vscode
.idea
*.swp

.DS_Store
Thumbs.db

.git
.gitignore

*.md
LICENSE

coverage
__pycache__

npm-debug.log*
yarn-debug.log*
bun-debug.log*

Dockerfile*
docker-compose*

*.pem
*.key
*.cert
.vercel

.prettierrc
.prettierignore
